/android/samples/chicken-android-jni/bin/
/android/samples/chicken-android-jni/gen/
/android/samples/chicken-android-jni/obj/
/android/samples/chicken-android-jni/libs/
/android/samples/chicken-android-jni/local.properties
/android/samples/chicken-android-jni/.classpath
/android/samples/chicken-android-jni/.project
/android/samples/chicken-android-jni/.settings/
/android/samples/chicken-android-jni/jni/jni-sample.c
/android/.chicken-home.mk
/android/jni/find-extension.c
/android/obj/
/android/libs/
/android/.chicken-home.mk
/android/jni/find-extension.c
